.hidden {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    background-attachment: fixed;
    animation: backgroundAnimation 3s infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes backgroundAnimation {
    0% {
        background-image: url("bgImg/1.png");
    }
    10% {
        background-image: url("bgImg/2.png");
    }
    20% {
        background-image: url("bgImg/3.png");
    }
    30% {
        background-image: url("bgImg/4.png");
    }
    40% {
        background-image: url("bgImg/5.png");
    }
    50% {
        background-image: url("bgImg/6.png");
    }
    60% {
        background-image: url("bgImg/7.png");
    }
    70% {
        background-image: url("bgImg/8.png");
    }
    80% {
        background-image: url("bgImg/9.png");
    }
    90% {
        background-image: url("bgImg/10.png");
    }
    100% {
        background-image: url("bgImg/11.png");
    }

}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #333;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.border-wrapper {
    background-image: url("border.gif");
    background-repeat: repeat;
    padding: 31px;
}

.content {
    background-color: #FFF;
    margin: 0;
    width: 480px;
    height: 480px;
}

.header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.title {
    margin: 0;
    font-size: 2em;
}

.slogan {
    margin: 5px 0 0 0;
    font-size: 1.2em;
}

.footer {
    text-align: center;
    padding: 20px;
}

.start-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #0056b3;
}